*{
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
background-image: url(Quad.png);
background-repeat: repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00000067;
  outline: 4px solid #00000042;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #ffffff7a;
}

table, th, td {
    border: 2px solid #ffffff85; 
    margin: auto;
    border-collapse: collapse;
}

th {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 10px 10px;
}

td {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 4px 4px;
}

td:hover {
  background-color: rgba(128, 128, 128, 0.25);
  padding: 4px 4px;
}

#knapp{
  background-image: url(cook.png);
  background-size: 100%;
  padding: 200px 200px;
  border-radius: 600px;
}

.bott button{
  padding: 48px;
  background-color: #00000042;
  
}
.bott {
  gap: 16px;
  display: flex;
  justify-content: center;
}